/* Base */

* {
  box-sizing: border-box;
}

/* Typography */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: lightgrey;
  font-size: 70%;
}


h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  max-width: 975px;
  align-content: right;
  margin: auto;
}

.navi1 {
  align-content:left;
  margin-right: auto;
}

.navi1 a{
  color: black;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

.navi2 {
  align-content: center;
  text-align: center;
  padding-top: 15px;
  margin: auto;

}
.TRlogo img {
  max-width: 70%;
}

.navi3{
  align-content: right;
  margin-left: auto;

}

.cart img{
  max-width: 30%;
}


.categories {

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.categories a { 
  margin: auto;

}

.categories a{
  color: black;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

.gallery {
  margin-top: 0.5%;
}


.row1 {
  display: flex;
  justify-content: center;

}

.row2 {
  display: flex;
  justify-content: center;
}

.row3 {
  display: flex;
  justify-content: center;
}
.row4{display: flex;
  justify-content: center;}

.itembar1 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:75px ;
  
}
.price1{
  border: 1px solid;
 background-color: black;
}
.price1 a {
  color: white;
}

.name1{
  background-color: black;
  opacity: 0.55;
}

.name1 a{
  color: white;
}

.itembar2 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}

.price2 {
  border: 1px solid;
 background-color: black;


}
.price2 a{
  color: white;
}

.name2 {
  background-color: black;
  opacity: 0.55;
  
}

.name2 a{
  color: white;
}

.itembar3 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px;
}

.price3 {
  border: 1px solid;
 background-color: black;
}

.price3 a{
  color: white;
}

.name3 {
  background-color: black;
  opacity: 0.55;
}
.name3 a{
  color: white;
}

.itembar4 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}

.price4 {
  border: 1px solid;
  background-color: black;
}

.price4 a {
  color: white;
}
.name4 {
  background-color: black;
  opacity: 0.55;
}

.name4 a{
  color: white;
}

.itembar5 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price5{
  border: 1px solid;
  background-color: black;
}
.price5 a {
  color: white;
}
.name5 {
  background-color: black;
  opacity: 0.55;
}
.name5 a{
  color: white;
}

.itembar6{
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price6{
  border: 1px solid;
  background-color: black;
}
.price6 a{
  color: white;
}
.name6 {
  background-color: black;
  opacity: 0.55;
}
.name6 a {
  color: white;
}

.itembar7 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price7{
  border: 1px solid;
  background-color: black;
}
.price7 a{
  color: white;
}
.name7 {
  background-color: black;
  opacity: 0.55;
}
.name7 a {
  color: white;
}

.itembar8 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price8 {
  border: 1px solid;
  background-color: black;
}
.price8 a{
color: white;
}
.name8{
  background-color: black;
  opacity: 0.55;
}
.name8 a {
  color: white;
}

.itembar9 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price9 {
  border: 1px solid;
  background-color: black;
}
.price9 a {
  color:white;
}
.name9 {
  background-color: black;
  opacity: 0.55;
}
.name9 a {
  color: white;
}

.itembar10 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price10 {
  border: 1px solid;
  background-color: black;
}
.price10 a {
  color: white;
}
.name10 {
  background-color: black;
  opacity: 0.55;
}
.name10 a{
  color: white;
}

.itembar11 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price11 {
  border: 1px solid;
  background-color: black;
}
.price11 a {
  color: white;
}
.name11 {
  background-color: black;
  opacity: 0.55;
}
.name11 a {
  color: white;
}


.itembar12 {
  display: flex;
  position: relative;
  left: 45px;
  bottom:95px ;
}
.price12 {
  border: 1px solid;
  background-color: black;
}
.price12 a{
  color: white;
}
.name12{
  background-color: black;
  opacity: 0.55;
}
.name12 a {
  color: white;
}

.bottom {
  background-color: whitesmoke;
}

.trigger{
  color: #e94057;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: 40px;
}

.container-block{
  overflow: hidden;
  max-height: 0;
  background-color: #ECECEC;
  transition: max-height .3s;
}


/* .content-block{
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #e94057;
  padding: 1rem 2rem;
  transform: translateX(-250px);
  transition: transform .3s;
}
.container-block {
  max-height: 100% !important;
} */
.content-block {padding: 20px;}
.nav {
  list-style: none;
  padding: 0;
}

.nav li {
  display: block;
}

@media (min-width:1001px) {
  .smalllogo{display: none;}
  .cart2 {display: none;}
  .container-block {display: none;}
  .trigger {display: none;}
  .container-block {
    max-height: 100% !important;
  }
  
  .nav {
    list-style: none;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
  }
}

@media ( 
  max-width: 1000px)
{.gallery{display: block;
  padding: 0%; margin: 0%;
}
.navi1 {
  display: none;
}
.cart {
  display: none;
}

.TRlogo img {
 display: none;

}
.navi2 {
  padding-left: 100px;
}
.categories{
  align-content: center;
}


.row1 { display: block;}
.row2 { display: block;}
.row3 {display: block}
.row4 {display: block;}
.row1 .img {
  max-width: 100%;
}













/* … */
